.loading-spinner {
    display: none;
    margin-left: 412px; /* Adjust as needed */
}

/* Style for active tab */
#progressTabs .nav-link.active {
	background-color: #374151; /* Change to your desired color */
}

/* Style for inactive tabs */
#progressTabs .nav-link:not(.active) {
	background-color: #FFFFFF; /* Change to your desired color */
}

table.dataTable tbody {
   background-color:#f7f9fa !important;
}

table.dataTable tbody tr:hover {
   background-color:#fff !important;
}

table.dataTable th {
  color:#fff !important;
}

table.dataTable th {
  background-color:#006072 !important;
}

div.dataTables_wrapper {
        margin: 0 auto;
		font-size:14px;
    }

table.dataTable thead {
  font-size: 14px;
}

table.dataTable td:nth-child(1){
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
   padding: 0.5em 0.9em !important;
   background-color:#d2d6d5 !important;
}

.dataTables_wrapper .paginate_button.current {
    background-color: #11c287;
}

.dataTables_filter {
   float: right !important;
}

/* Custom CSS for DataTables layout */
.dataTables_wrapper .dataTables_filter {
    float: right;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
}

.dataTables_wrapper .dataTables_length {
    float: right;
}