
<footer class="footer py-6 bg-gray-800 text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="navbar-brand-dark mb-4" height="35" src="/static/assets/img/brand/light.svg" alt="Logo light">
                    <p class="text-gray-300">EDA Dashboard bringing together search data and search insights.</p>
                </div>
                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                </div>
            </div>
            <hr class="bg-gray-700 my-5">
            <div class="row">
                <div class="col mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">&copy; Airgas, E-Business.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
